@import "fonts.css";
@import "gen/fonts.css";
@import "reset.css";
@import "theme.css";

body {
  width: 100%;
  min-height: 100%;

  background-color: var(--t-background);
  color: var(--t-on-background);

  font-size: 18px;
  font-family: "Ysabeau", serif;
}

[lang="zh-Hans"] {
  font-family:
    "Ysabeau", "Noto Serif SC", "Noto Serif SCTC", "Noto Serif SCJP", "Noto Serif SCTCJP", serif;
}

[lang="zh-Hant"] {
  font-family:
    "Ysabeau", "Noto Serif TC", "Noto Serif SCTC", "Noto Serif TCJP", "Noto Serif SCTCJP", serif;
}

[lang="ja"] {
  font-family:
    "Ysabeau", "Noto Serif JP", "Noto Serif SCJP", "Noto Serif TCJP", "Noto Serif SCTCJP", serif;
}
