@import "reset.css";
@import "theme.css";

body {
  width: 100%;
  min-height: 100%;

  background-color: var(--t-background);
  color: var(--t-on-background);
}

#app {
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
}
