.Settings {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 32px;
    margin: 0 auto;
}

.Button {
    all: unset;
    cursor: pointer;
    user-select: none;
    background-color: #87ceeb;
    color: white;
    padding: 12px;
    font-size: 20px;
    border-radius: 12px;
}
