.word {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.wordHeadline {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.wordTitleBase {
    font-size: 1.75em;
}

.fontJapanese {
    font-family: "Noto Serif JP";
}

.fontTraditionalChinese {
    font-family: "Noto Serif TC";
}

.fontSimplifiedChinese {
    font-family: "Noto Serif SC";
}

.pinyin {
    font-family: "Noto Serif";
    margin-left: 0.25em;
    font-size: 0.75em;
    color: #444;
}

.reading {
    user-select: none;
}

.hiddenReading {
    visibility: hidden;
}

.headlineSkewer {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headlineSkewerSizer {
    width: 0;
    visibility: hidden;
    user-select: none;
    font-size: 1.75em;
    font-family: "Noto Serif JP";
}

.headlineSpacer {
    flex: 1;
    height: 2px;
    margin: 0 16px;
    background-color: rgb(230, 230, 230);
}

.headlineBadge,
button.headlineBadge {
    border-radius: 8px;
    font-size: 0.8em;
    background-color: rgb(245, 245, 245);
    color: rgb(97, 97, 97);
    padding: 6px;
}

button.headlineBadge {
    border: none;
    cursor: pointer;
    user-select: none;
    transition:
        background-color 0.15s,
        color 0.15s;
}

button.headlineBadge:hover {
    background-color: black;
    color: white;
}

.sensesWrapper {
    margin: 12px 24px;
}

.wordSenses {
    list-style-position: inside;
    margin: unset;
    padding: unset;
}

.wordPartOfSpeech {
    color: gray;
    font-size: 0.75em;
}

.wordSense {
    margin-bottom: 0.5em;
}

.wordSense::marker {
    font-size: 0.75em;
    color: gray;
}
